In [1]:
!python -V

Python 3.9.12

In [ ]:
# installations
!pip install pyarrow

In [8]:
# imports
import pandas as pd

In [11]:
# use tab to autofill path
# reading parquet files
df = pd.read_parquet('./data/jan.parquet')

In [12]:
# checking first five rows
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2022-01-01 00:14:21,2022-01-01 00:15:33,N,1.0,42,42,1.0,0.44,3.5,0.50,0.5,0.00,0.0,None,0.3,4.80,2.0,1.0,0.00
1,1,2022-01-01 00:20:55,2022-01-01 00:29:38,N,1.0,116,41,1.0,2.10,9.5,0.50,0.5,0.00,0.0,None,0.3,10.80,2.0,1.0,0.00
2,1,2022-01-01 00:57:02,2022-01-01 01:13:14,N,1.0,41,140,1.0,3.70,14.5,3.25,0.5,4.60,0.0,None,0.3,23.15,1.0,1.0,2.75
3,2,2022-01-01 00:07:42,2022-01-01 00:15:57,N,1.0,181,181,1.0,1.69,8.0,0.50,0.5,0.00,0.0,None,0.3,9.30,2.0,1.0,0.00
4,2,2022-01-01 00:07:50,2022-01-01 00:28:52,N,1.0,33,170,1.0,6.26,22.0,0.50,0.5,5.21,0.0,None,0.3,31.26,1.0,1.0,2.75

In [13]:
# extracting only those rows with having trip_type value 2 i.e. dispatchs  
df = df[df.trip_type == 2]

In [14]:
# checking first five rows 
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
17,2,2022-01-01 00:12:00,2022-01-01 00:26:26,N,5.0,213,174,1.0,5.57,20.0,0.0,0.0,0.00,0.0,None,0.3,20.30,2.0,2.0,0.00
19,2,2022-01-01 00:54:40,2022-01-01 01:17:02,N,5.0,185,119,1.0,6.60,25.0,0.0,0.0,0.00,0.0,None,0.3,25.30,2.0,2.0,0.00
24,2,2022-01-01 00:02:43,2022-01-01 00:18:31,N,5.0,66,234,4.0,3.96,25.0,0.0,0.0,5.61,0.0,None,0.3,33.66,1.0,2.0,2.75
25,2,2022-01-01 00:45:23,2022-01-01 00:59:38,N,5.0,33,233,4.0,6.20,60.0,0.0,0.0,12.61,0.0,None,0.3,75.66,1.0,2.0,2.75
29,2,2022-01-01 00:02:14,2022-01-01 00:02:16,N,5.0,42,264,1.0,0.00,10.0,0.0,0.0,0.00,0.0,None,0.3,10.30,1.0,2.0,0.00

In [26]:
# checking data types of columns
df.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                        object
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
duration                        float64
dtype: object

In [21]:
# we are interested in duration from pickup to dropoff
# creating duration column and then converting it into minutes
df['duration'] = df.lpep_dropoff_datetime - df.lpep_pickup_datetime
df.duration = df.duration.apply(lambda td: td.total_seconds()/ 60)

In [28]:
# checking first five rows
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,duration
17,2,2022-01-01 00:12:00,2022-01-01 00:26:26,N,5.0,213,174,1.0,5.57,20.0,...,0.0,0.00,0.0,None,0.3,20.30,2.0,2.0,0.00,14.433333
19,2,2022-01-01 00:54:40,2022-01-01 01:17:02,N,5.0,185,119,1.0,6.60,25.0,...,0.0,0.00,0.0,None,0.3,25.30,2.0,2.0,0.00,22.366667
24,2,2022-01-01 00:02:43,2022-01-01 00:18:31,N,5.0,66,234,4.0,3.96,25.0,...,0.0,5.61,0.0,None,0.3,33.66,1.0,2.0,2.75,15.800000
25,2,2022-01-01 00:45:23,2022-01-01 00:59:38,N,5.0,33,233,4.0,6.20,60.0,...,0.0,12.61,0.0,None,0.3,75.66,1.0,2.0,2.75,14.250000
29,2,2022-01-01 00:02:14,2022-01-01 00:02:16,N,5.0,42,264,1.0,0.00,10.0,...,0.0,0.00,0.0,None,0.3,10.30,1.0,2.0,0.00,0.033333